<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{question.title}}</title>
    </head>
    <body>
    <h1>{{question.title}}</h1>
    <div>{{question.text}}</div>
    <form action='{{ question.get_url }}' method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    <p>ответы:</p>
    <ul>
    {% for answer in answers%}
    	<li>{{answer.text}}</li>
    {% endfor %}
    </ul>
    </body>
</html>